<h1>Add a new Parcel</h1>

<form action="/parcels" method="post">
  <div class="form-group">
    <label for="parcel_name">Enter Your Parcel Name</label>
    <input id="name" name="parcel_name" class="form-control" type="text">
    <label for="parcel_height">Enter Your Parcel height</label>
    <input id="height" name="parcel_height" class="form-control" type="text">
    <label for="parcel_width">Enter Your Parcel width</label>
    <input id="width" name="parcel_width" class="form-control" type="text">
    <label for="parcel_weight">Enter Your Parcel weight</label>
    <input id="weight" name="parcel_weight" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
